<html>
  <div class="container">
    <div class="header">
      <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/career-summary-3873942-3213346.png" alt="">
      <h3>Резюме Алпыс Аружан</h3>
    </div>
    <div class="main">
      <div class="first">
        <img src="https://cdn-icons-png.flaticon.com/512/53/53094.png" alt="">
        <div class="fir_1">
          <p><b>Ссылка на гид:</b></p>
          <a href="https://github.com/alpysaruzhan">https://github.com/alpysaruzhan</a>
          <p class="g">------------------------------------</p>
          <p><b>Ссылка на What'sApp:</b></p>
          <a href="https://wa.me/+77056019139">https://wa.me/+77056019139</a>
          <p class="g">------------------------------------</p>
          <p><b>Ссылка на Telegram:</b></p> 
          <a href="https://t.me/alpys_aruzhan">https://t.me/alpys_aruzhan</a>
          <p class="g">------------------------------------</p>
          <p><b>Занятность:</b> полная занятность, полный день</p>
          <p class="g">------------------------------------</p>
          <p><b>Желаемая должность:</b> разработчик сайтов на html</p>
          <p class="g">------------------------------------</p>
          <p><b>Хобби:</b> рисование</p>
          <p class="g">------------------------------------</p>
          <p><b>Организация:</b> фрилансер</p>
          <p class="g">------------------------------------</p>
          <p><b>Уровень английского:</b> В2</p>
          <p class="g">------------------------------------</p>
          <p><b>Желаемая зарплата:</b> {{1000 | currency}}</p>
        </div>
      </div>
      <app-second></app-second>
    </div>
  </div>
</html>