<html>
    <div class="container">
        <div class="main2">
            <h1>АЛПЫС АРУЖАН МАРАТОВНА</h1>
            <p class="pp">1 курс колледжа AITU</p>
        <div class="br"></div>
        <div class="inf">
            <p class="p"><b>Мобильный телефон:</b> +77056019139</p>
            <p class="g">---------------------------------------------------------------------------------------------</p>
            <p class="p"><b>Эл. почта:</b> alpysaruzan4@gmail.com</p>
            <p class="g">---------------------------------------------------------------------------------------------</p>
            <p class="p"><b>Возраст:</b> 15 лет(12.07.07)</p>
            <p class="g">---------------------------------------------------------------------------------------------</p>
            <p class="p"><b>Проживание:</b> Нур-Султан</p>
            <p class="g">---------------------------------------------------------------------------------------------</p>
            <p class="p"><b>Гражданство:</b> Казахстан</p>
            <p class="g">---------------------------------------------------------------------------------------------</p>
            <p class="p"><b>Языки:</b> Русский, Казахский, Английский</p>
            <div class="br"></div>
            <div>
                <p class="p"><b>Навыки:</b> -опыт работы с HTML5, CSS3, JS; </p>
                <p class="p">- знание JavaScript/JQuery;</p>
                <p class="p">- опыт адаптивной верстки;</p>
                <p class="p">- опыт создания HTML-страницы сайта на основе дизайн-макетов;</p>
                <p class="p">- знание фреймворков</p>
                <p class="p"><b>Опыт работы:</b> отсутствует</p>
                <p class="p"><b>Дополнительные сведения:</b> Умение работать в режиме многозадачности и высокие аналитические способности позволяют мне эффективно работать с большими объёмами информации, быстро находить качественные решения сложных задач.</p>
                <p class="p"><b>Курсы:</b> ItSTEP - front-end разработка на JavaScript</p>
                <p class="p"><b>О себе:</b> Я ответственный, проактивный, стрессоустойчивый, коммуникабельный, честный. Мои сильные стороны — хорошие управленческие и лидерские навыки, клиентоориентированность, системное мышление, позитивный настрой.</p>
            </div>
        </div>
        </div>
    </div>
</html>